In [2]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [10]:
DIRDEFAULT = os.path.abspath('.')
DIRARQ = os.path.join(os.path.abspath('.'), 'arq')
BANCODADOS = 'meubanco.db'
strconexao = f'sqlite:///{os.path.join(DIRDEFAULT, BANCODADOS)}'

In [15]:
engine = create_engine(strconexao, echo=False)
engine.connect()

In [13]:
pulls = pd.read_csv(os.path.join(DIRARQ, 'pulls.csv'))
pulls.to_sql('pulls', engine)

2021-06-07 09:14:06,667 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pulls")
2021-06-07 09:14:06,668 INFO sqlalchemy.engine.Engine [raw sql] ()

ValueError: Table 'pulls' already exists.

In [20]:
selecionados = pd.read_sql_query(
    '''
    select
        a.user_login,
        a.created_at,
        a.updated_at,
        (julianday(date('now')) - julianday(a.updated_at)) as diferenca
    from pulls a
    where
        a.user_login in (
            'tobiasdiez',
            'koppor',
            'matthiasgeiger',
            'Siedlerchr',
            'simonharrer',
            'mortenalver',
            'oscargus'
    )order by user_login, a.updated_at
    ''', engine
)

In [34]:
for index,dataset in enumerate(selecionados['diferenca']):
    print(dataset[index])

TypeError: 'float' object is not subscriptable