In [35]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [36]:
DIRDEFAULT = os.path.abspath('.')
DIRARQ = os.path.join(os.path.abspath('.'), 'arq')
BANCODADOS = 'meubanco.db'
strconexao = f'sqlite:///{os.path.join(DIRDEFAULT, BANCODADOS)}'

In [37]:
engine = create_engine(strconexao, echo=False)
engine.connect()

In [38]:
pulls = pd.read_csv(os.path.join(DIRARQ, 'pulls.csv'))
pulls.to_sql('pulls', engine)

In [42]:
selecionados = pd.read_sql(
    '''
    select
        a.user_login,
        a.created_at,
        a.updated_at,
        (julianday(date('now')) - julianday(a.updated_at)) as diferenca
    from pulls a
    where
        a.user_login in (
            'tobiasdiez',
            'koppor',
            'matthiasgeiger',
            'Siedlerchr',
            'simonharrer',
            'mortenalver',
            'oscargus'
    )order by user_login, a.updated_at
    ''', engine
)

In [43]:
print(list(selecionados))

['user_login', 'created_at', 'updated_at', 'diferenca']